// Css della pagina di un singolo fumetti
#comic {
    // Sezione del poster del fumetto
    .poster-section {
        height: 5rem;
        background-color: #0282f9;
    }
    // Poster del fumetto
    .poster {
        width: 12.5rem;
        height: 18.75rem;
        display: block;
        position: relative;
        bottom: 15rem;
        border: 1px solid white;
    }
    // Sezione delle info
    .info-section{
        background-color: white;
        color: black;
        padding-top: 3.4375rem;
        .price{
            background-color: #55ba59;
            align-items: center;
            justify-content: space-between;
            color: white;
            font-size: 1.25rem;
            .available{
                border-right: 1px solid black;
                padding: .625rem 1.25rem;
            }
        }
        .adv{
            width: 25rem;
            height: 18.75rem;
            text-align: end;
        }
    }
    // Sezione dello Staff e delle Specifiche
    #talent{
        background-color: #f6f6f6;
        padding-top: 1.875rem;
        h3{
            padding-bottom: 1.25rem;
            border-bottom: 1px solid lightgray;
        }
        a{
            color: #0282f9;
        }
    }
    // Sezione del merch
    .box{
        border-top: 1px solid lightgray;
        margin-top: 6.25rem;
    }
    .box-link{
        border: 1px solid lightgray;
        border-bottom: none;
        height: 4.375rem;
        padding-top: .625rem;
        margin: 0;
    }
    .link{
        display: block;
        filter: invert(1);
        width: 70px;
        height: 40px;
    }
}
// --------
